body {
    font-family: 'Open Sans', sans-serif;
    background-color: #acac9c !important;
    color: #6f554a !important;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.nav-links a {
    color: #cbd5e0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffffff;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons i {
    color: #cbd5e0;
    transition: color 0.3s ease;
    cursor: pointer;
}

.social-icons i:hover {
    color: #ffffff;
}

.content-section {
    margin-bottom: 30px;
}

.content-section h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.content-section p {
    font-size: 0.875rem;
    line-height: 1.6;
}

p {
    color: #fcf2eb;
}

h1.text-4xl {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: normal;
}

/* CSS styles for ASCII art flowers */
.flowers {
    font-family: monospace;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1; /* Ensure it stays behind other content */
    font-size: 12px;
}

.paragraph-spacing {
    margin-bottom: 20px;
}

